# Database
DB_HOST='localhost'
DB_NAME='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'
DB_PREFIX='wp_'
# DATABASE_URL='mysql://username:password@host:database_port/db_name'

# Environment
# Common values are ( local | development | staging | production )
WP_ENV='development'
WP_ENVIRONMENT_TYPE='development'
WP_DEVELOPMENT_MODE='all'

# Application
WP_HOME='https://example.test'
WP_SITEURL="${WP_HOME}/wp"
WP_DEFAULT_THEME="twentytwentyfive"
WP_DEBUG=true
WP_DISPLAY_ERRORS=true
WP_DEBUG_DISPLAY=false
WP_DEBUG_LO#G=../../shared/logs/wp-debug.log
DISABLE_WP_CRON=false

# Multisite?
MULTISITE=false
# WP_DOMAIN_CURRENT_SITE = 'example.test'

# Salts
# Use https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

# S3 Uploads
# S3_UPLOADS_BUCKET_URL='XXXXXXXXXX'
# S3_UPLOADS_BUCKET='XXXXXXXXXX'
# S3_UPLOADS_REGION='XXXXXXXXXX'
# S3_UPLOADS_KEY='XXXXXXXXXX'
# S3_UPLOADS_SECRET='XXXXXXXXXX'
# S3_UPLOADS_OBJECT_ACL='private'
# S3_UPLOADS_USE_LOCAL=0

# Mailgun
# MAILGUN_REGION='eu'
# MAILGUN_USEAPI='true'
# MAILGUN_APIKEY='apikey'
# MAILGUN_DOMAIN='example.com'
# MAILGUN_SECURE='1'
