parameters:

  level: 8

  inferPrivatePropertyTypeFromConstructor: true

  parallel:
    maximumNumberOfProcesses: 8

  paths:
    - config/
    - public/app/mu-plugins/site-config.php

  excludePaths:
    analyse:
      - */vendor/*
      - */vendor_prefixed/*
    analyseAndScan:
      - */tests/*
      - */tools/*

  bootstrapFiles:
    - tests/php/analysis/constants.php

  scanFiles:
    - %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
    - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-stubs.php
    - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
    - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
